.topbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 50px auto;
}
.topbar-container h1 {
    font-weight: 200;
}
.add-btn{
    width: fit-content;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background: #65e093;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.plus-icon {
    padding-right: 5px;
}